.wrapper {
  max-width: 1260px;
  margin: 0 auto;
  padding: 30px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}
.d-flex {
  display: flex;
  align-items: center;
  &.center {
    justify-content: center;
  }
  &.sp-between {
    justify-content: space-between;
  }
  &.start {
    justify-content: start;
  }
  &.align-start {
    align-items: start;
  }
  &.align-stretch {
    align-items: stretch;
  }
  &.align-end {
    align-items: end;
  }
  &.wrap {
    flex-wrap: wrap;
  }
  &.gap-4 {
    gap: 4px;
  }
  &.gap-24 {
    gap: 24px;
  }
  &.gap-35 {
    gap: 35px;
  }
  &.gap-40 {
    gap: 40px;
  }
  &.gap-60 {
    gap: 60px;
  }
  &.gap-16 {
    gap: 16px;
  }
  &.gap-12 {
    gap: 12px;
  }
  &.column {
    flex-direction: column;
  }
}